#poster{

display: none;
  text-align: center;
  height: 60vh;
  width: 30%;
  margin: 0 auto;
/*  margin-top: -365px;*/
 margin-top: calc(-26.5% + 30px);

  background-color: $white;
  border: 3px solid $lemon;
  @include bp(tablet){
    width: 51%;
    height: 40vh;
    margin-top: calc(-41.5% + 30px);
   /*overflow: hidden;*/
  }
  @include bp(mobile){
    width: 70%;
    height: 35vh;
    margin-top: calc(-51.5% + 30px);
  }

}
#infoDiv{

  @include flex;
  @include flex_column;
  @include flex_align_items--center;
  padding-top: 40px;
  /*  margin-top: em(360px);*/
  margin-top: 230px;
  height: em(90px);
  width: 90%;
  font-family: $stack-garamond;
  /*background-color: $beige;*/
  @include bp(tablet){

  }
  @include bp(mobile){
    margin-top: 40px;
  }
  @include bp(mobile_small){
    margin-top: -20px;
  }
}

#posterText{
  color: $charcoal;
/*@include flex;
@include flex_row;*/
font-size: $font-size__small;
/*padding-top: 200px;*/
@include bp(tablet){
  margin-top: em(140px);
}
@include bp(mobile){
  font-size: 10px;
  margin-top: em(20px);

}

}

#posterText2{
/* @include flex;
  @include flex_row;*/
  font-size: $font-size__small;
  /*padding-top: 240px;*/
  /*height: 30px;*/
  @include bp(mobile){
    font-size: 10px;
  }

}
